* {
    -fx-primary-color: #121212;
    -fx-secondary-color: #242424;
    -fx-terciary-color: #494949;
    -fx-fourth-color: #ffffff;
}

.root{
	-fx-background-color: -fx-primary-color;
}

.menu-bar,.menu-item,.context-menu {
  -fx-background-color: -fx-terciary-color;
}
.menu-bar .label {
    -fx-font-size: 13;
    -fx-font-family: Open Sans;
}
.menu:hover,.menu:showing,.menu-item:focused {
    -fx-background-color: #B6B6B6;
}

.menu .label{     
	-fx-text-fill: -fx-fourth-color;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.tab-pane {
    -fx-tab-min-width: 75px;
}

.tab-pane .tab{
    -fx-background-color: -fx-terciary-color;
    -fx-focus-color: transparent;

}
.tab-pane .tab:selected{
    -fx-background-color: -fx-secondary-color;
}
.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-fourth-color;
}

.text-area{
	-fx-font-family: Proxima Nova;
	-fx-font-weight: bold;
    -fx-font-size: 13;
    -fx-text-fill: -fx-fourth-color;
    -fx-display-caret: true;
    -fx-text-box-border: -fx-secondary-color;
}
.text-area .content{
	-fx-background-color: -fx-secondary-color;
}

.text-area .scroll-pane, 
.text-area .scroll-pane .corner {
	-fx-background-color: -fx-terciary-color;
}
.text-area .scroll-pane .scroll-bar:horizontal, 
.text-area .scroll-pane .scroll-bar:vertical {
	-fx-background-color: transparent;
}
.text-area .scroll-pane .scroll-bar:horizontal .thumb,
.text-area .scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 7pt;
}